<button 
    class="btn btn-primary"
    (click)="onServerCreate()">{{ComponentTitle}}</button>
<p 
    [ngStyle]="{backgroundColor: getColorForServerStatus1()}"
    [ngClass]="{online: getClassForServerStatus1(),offline: !getClassForServerStatus1()}">Server created was {{serverStatus1}}</p>
<p 
    [ngStyle]="{backgroundColor: getColorForServerStatus2()}"
    [ngClass]="{online: getClassForServerStatus2()}">Server Created was {{serverStatus2}}</p>
<p *ngFor="let server of servers">{{server}}</p>
<button 
    class="btn btn-primary"
    (click)="onServerCreateLog()">{{ComponentTitle2}}</button>
<p 
    *ngFor="let log of logTimeStamps; let i=index"
    [ngStyle]="{'background-color': i>3? 'blue':'transparent'}"
    [ngClass]="{'text-white':i>3}">{{log}}</p>