<div id="app" class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-brand">Recipe Book</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://ng-bootstrap.github.io/#/components/buttons/examples">Recipes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://stackoverflow.com/questions/52676474/bootstrap-not-working-properly-in-angular-6">Shopping List</a>
            </li>
        </ul>
        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
                        Manage
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Save Data</a>
                        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Fetch Data</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>