<table class="table table-hover">
  <thead>
    <tr>
      <th>Components</th>
      <th>DOM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h1>App Component</h1>
      </td>
      <td>
        <input type="text" [(ngModel)]="name" />
        <p>{{ name }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <p>App Server</p>
      </td>
      <td>
        <app-server></app-server>
      </td>
    </tr>
    <tr>
      <td>
        <p>App Server2</p>
      </td>
      <td>
        <app-server2></app-server2>
      </td>
    </tr>
    <tr>
      <td>
        <p>App Server3</p>
      </td>
      <td>
        <div class="app-server3"></div>
      </td>
    </tr>
    <tr>
      <td>
          <p>App Server String Interpolation</p>
      </td>
      <td>
          <app-server-stringinterpolation></app-server-stringinterpolation>
      </td>
    </tr>
    <tr>
      <td>
          <p>App Server Property Binding</p>
      </td>
      <td>
          <app-propertybinding></app-propertybinding>
      </td>
    </tr>
    <tr>
      <td>
          <p>App Server Event Binding</p>
      </td>
      <td>
          <app-server-event-binding></app-server-event-binding>
      </td>
    </tr>
    <tr>
      <td>
          <p>App server Timer</p>
      </td>
      <td>
          <app-server-timercomponent></app-server-timercomponent>
      </td>
    </tr>
    <tr>
      <td>
        <p>NgIf structural directive</p>
      </td>
      <td>
        <app-server-ngif></app-server-ngif>
      </td>
    </tr>
    <tr>
      <td>
        <p>NgStyle attribute directive</p>
      </td>
      <td>
        <app-server-ng-style></app-server-ng-style>
      </td>
    </tr>
    <tr>
      <td>
        <p>ngClass attribute directive</p>
      </td>
      <td>
        <app-server-ngclass></app-server-ngclass>
      </td>
    </tr>
  </tbody>
</table>